# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# Docker
docker-compose.override.yml

# Optional npm cache
.npm

# IDE files
.vscode/
.DS_Store